body {
    font-family: 'Super Mario DS (Original)', 'Bauhaus 93', Broadway;
    margin: auto;
    max-width: 1600px;
    padding: 20px;
}
h1 {
    font-family: 'Super Mario DS (Original)', 'Bauhaus 93', Broadway;
    text-align: center;
    margin-top: 60px;
    width: 1600px;
}
h3 {
    font-family: 'Super Mario DS (Original)', 'Bauhaus 93', Broadway;
    text-align: center;
    width: 1600px;
}
.topnav_ipage a {
    color: dodgerblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav_ipage {
    background-color: white;
    width: 1600px;
    height: 40px;
    top: 20px;
    position: fixed;
    text-align: center;
    line-height: 40px;
    border-top: 4px solid dodgerblue;
    border-bottom: 4px solid dodgerblue;
}

.topnav_ipage a:hover {
    background-color: white;
    color: dodgerblue;
    border: 2px solid dodgerblue;
}

.topnav_ipage a.active {
    background-color: white;
    color: dodgerblue;
    border: 2px solid dodgerblue;
}

.topnav_cpage a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav_cpage {
    background-color: #073400;
    width: 1600px;
    height: 40px;
    top: 20px;
    position: fixed;
    text-align: center;
    line-height: 40px;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

.topnav_cpage a:hover {
    background-color: black;
    color: white;
}

.topnav_cpage a.active {
    background-color: black;
    color: white;
}

.topnav_ppage a {
    color: #FF8C00;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav_ppage {
    background-color: black;
    width: 1600px;
    height: 40px;
    top: 20px;
    position: fixed;
    text-align: center;
    line-height: 40px;
    border-top: 4px solid #FF8C00;
    border-bottom: 4px solid #FF8C00;
}

.topnav_ppage a:hover {
    background-color: white;
    color: #FF8C00;
    border: 2px solid black;
}

.topnav_ppage a.active {
    background-color: white;
    color: #FF8C00;
    border: 2px solid black;
}

img {
    border-radius: 25px;
    box-shadow: 10px 10px black;
    width: 100%;
}

p {
    font-family: AmarilloUSAF, 'Agency FB', 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 10px;
    line-height: 20px;
    width: 1600px;
}
p::first-letter 
{
    font-size: 150%;
}
footer {
    padding-top: 20px;
    text-align: center;
    width: 1600px;
}

label {
    line-height: 40px;
    color: white;
}

#freeform_label{
    vertical-align: top;
}

legend {
    color: white;
}

form {
    border: 3px solid black;
    width: 1587px;
    padding: 5px;
    background-color: #073400;
    text-align: center;
}

*:focus {
    outline: none;
}

.social-footer {
    padding: 5px;
    background: #073400;
    word-spacing: 40px;
    width: 1587px;
    border: 3px solid black;
}

.social-footer .social-footer-icons .fa {
    font-size: 40px;
    color: white;
}

.outer-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.inner-grid {
    flex: 25%;
    max-width: 25%;
    padding: 10px;
}

.inner-grid img {
    margin-top: 15px;
    width: 100%;
    border: 2px solid black;
}

@media screen and (max-width: 800px) {
    .inner-grid {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .inner-grid {
        flex: 100%;
        max-width: 100%;
    }
}

label[for="Kyle"]{
    color: white;
    font-size: 30px;
}

label[for="Nicole"] {
    color: white;
    font-size: 30px;
}