body {
    font-family: 'Super Mario DS (Original)', 'Bauhaus 93', Broadway;
    margin: auto;
    max-width: 660px;
    padding: 20px;
}
h1 {
    font-family: 'Super Mario DS (Original)', 'Bauhaus 93', Broadway;
    text-align: center;
    margin-top: 60px;
    width: 660px;
}
h3 {
    font-family: 'Super Mario DS (Original)', 'Bauhaus 93', Broadway;
    text-align: center;
    width: 660px;
}
.topnav_ipage a 
{
    color: #ff6a00;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;

}

.topnav_ipage {
    background-color: #231709;
    width: 660px;
    height: 40px;
    top: 20px;
    position: fixed;
    text-align: center;
    line-height: 40px;
    border-top: 4px solid orangered;
    border-bottom: 4px solid orangered;
}

.topnav_ipage a:hover {
    background-color: orangered;
    color: black;
}

.topnav_ipage a.active {
    background-color: orangered;
    color: black;
}

.topnav_cpage a {
    color: #c7ac0a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav_cpage {
    background-color: #073400;
    width: 660px;
    height: 40px;
    top: 20px;
    position: fixed;
    text-align: center;
    line-height: 40px;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

.topnav_cpage a:hover {
    background-color: black;
    color: #d5b90c;
}

.topnav_cpage a.active {
    background-color: black;
    color: #d5b90c;
}

img
{
    border-radius: 25px;
    box-shadow: 10px 10px orangered;
}
p {
    font-family: AmarilloUSAF, 'Agency FB', 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 10px;
    line-height: 20px;
    width: 660px;
}
p::first-letter 
{
    font-size: 150%;
}
footer {
    text-align: center;
    width: 660px;
}

label {
    line-height: 40px;
    color: #d5b90c;
}
#freeform_label{
    vertical-align: top;
}
legend {
    color: #d5b90c;

}
form {
    border: 3px solid #d5b90c;
    width: 647px;
    padding: 5px;
    background-color: #073400;
}
#submit {
    background-color: #073400;
    border-block-color: black;
    color: #d5b90c;
}
#username {
    background-color: black;
    color: #d5b90c;
    border-color: #d5b90c;
}
#email {
    background-color: black;
    color: #d5b90c;
    border-color: #d5b90c;
}
#freeform {
    background-color: black;
    color: #d5b90c;
    border-color: #d5b90c;
    width: 350px;   
    word-wrap: break-word;
}

::placeholder {
    color: #d5b90c;
}
*:focus {
    outline: none;
}
.social-footer {
    padding: 5px;
    background: #073400;
    word-spacing: 40px;
    width: 647px;
    border: 3px solid #d5b90c;
}

.social-footer .social-footer-icons .fa {
    font-size: 40px;
    color: #d5b90c;
}

.outer-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.inner-grid {
    flex: 25%;
    max-width: 25%;
    padding: 10px;
}

.inner-grid img {
    margin-top: 15px;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .inner-grid {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .inner-grid {
        flex: 100%;
        max-width: 100%;
    }
}